*.beam
*.css
*.html
.#*
/.DS_Store
/apps/*/.eunit/*
/apps/*/doc/*
!/apps/*/doc/overview.edoc
/apps/*/logs/*
/apps/doko_query/src/doko_query_parser.erl
/data/
/deps/
/fprof.trace
/nonpublic/
ebin/
erl_crash.dump
