%% -*- mode: erlang; fill-column: 78; -*-

{sub_dirs, ["apps/dk_stem", "apps/dk_ii", "apps/dk_in", "apps/dk_meta",
            "apps/dk_pp", "apps/dk_q", "apps/dk_ring", "apps/dk_test",
            "apps/dk_utf8", "apps/doko"]}.
{erl_opts, [debug_info, warnings_as_errors]}.
{cover_enabled, true}.
{clean_files, ["ebin/*.app", "ebin/*.beam"]}.
